
/*####################### START HEADER STYLE ########################## */
header{
    background-color: #f44336;
    height: 80px;
}

header > div:first-child{
    margin-top: 20px;
}

.logo {
    font-size: 2em;
}

.searchList{
    overflow: inherit;
    margin: 0;
    padding: 5px;
    background-color: #d5d5d5;

}

.searchList img{
    height: 32px;
    width: 32px;
}

.even{
    background-color: #fff;
}


/*###############################*/

.movieImg{
    height: 64px !important;
    width: 50px !important;

}

.actor-info-img{
    height: 300px !important;
}
