<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMDB Search</title>

    <!-- Style Library's  -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- MY Style -->
    <link rel="stylesheet" href="css/myStyle.css">

</head>

<body>

<section>
    <!--<input type="text" ng-model="serchMovie" ng-change="actorSearch('search/movie', serchMovie)">-->
    <!--<input type="text" ng-model="serchPerson" ng-change="actorSearch('search/person', serchPerson)">-->
    <!--<div ng-repeat="n in maovieData">{{n.title}}</div>-->
    <!--<div ng-repeat="p in personData">{{p.name}}</div>-->


</section>



<section class="container">
    <ui-view></ui-view>
</section>

<!-- Angular AND Library's -->
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>

<!-- MY Scripts -->
<script src="app/app.js"></script>

<!-- Router -->
<script src="app/router.js"></script>

<!-- Controllers -->
<script src="app/controllers/mainPageController.js"></script>
<script src="app/controllers/actorPageController.js"></script>
<script src="app/controllers/moviePageController.js"></script>
<script src="app/controllers/imgviewPageController.js"></script>

<!-- Services -->
<script src="app/services/apiService.js"></script>

<!-- Directives -->
<script src="app/directives/actorDirective/actorDirective.js"></script>
<script src="app/directives/movieDirective/movieDirective.js"></script>
<script src="app/directives/infoDirective/infoDirective.js"></script>
</body>
</html>