<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Movie : {{info.title || 'loding...' }} </li>
</ol>

<div info-directive info="info"></div>


<div ng-show="imgs" class="panel panel-default">
    <div class="panel-heading">Movie Images</div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="img in imgs | limitTo : '12'" class="col-lg-1">
                <a  class="thumbnail">
                    <img ng-click="imgClick(img.file_path)" ng-src="http://image.tmdb.org/t/p/w500{{img.file_path}}" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>