<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Actor : {{info.name || 'loding...' }}</li>
</ol>

<info-directive  info="info"></info-directive>


<div ng-if="imgs" class="panel panel-default">
    <div class="panel-heading">Actor Images</div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="img in imgs | limitTo : '12'" class="col-lg-1">
                <a  class="thumbnail">
                    <img ng-click="imgClick(img.file_path)" ng-src="http://image.tmdb.org/t/p/w500{{img.file_path}}" >
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-if="movies" class="panel panel-default">
    <div class="panel-heading">Actor Movies</div>
    <div class="panel-body">
        <movie-directive ng-repeat="movie in movies | orderBy: '-release_date'"  movie="movie"></movie-directive>
    </div>
</div>

<div ng-if="tv" class="panel panel-default">
    <div class="panel-heading">Actor Tv</div>
    <div class="panel-body">
        <movie-directive ng-repeat="t in tv | orderBy: '-first_air_date'"  t="t"></movie-directive>
    </div>
</div>