
<header class="container">
    <div class="row">
        <div class="col-lg-2 logo">
            <i class="fa fa-film" aria-hidden="true"></i>
            <span>Movies</span>
        </div>
        <div class="col-lg-3 input-group">
            <div>
                <input type="text" ng-model="searchMulti" ng-change="actorSearch(searchMulti)"
                       class="form-control" placeholder="Find Movies , Actors" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</header>

<div ng-if="movies" class="panel panel-default">
    <div class="panel-heading">Movies search</div>
    <div class="panel-body">
        <movie-directive ng-repeat="movie in movies"  movie="movie"></movie-directive>
    </div>
</div>


<div ng-if="actors" class="panel panel-default">
    <div class="panel-heading">Actors search</div>
    <div class="panel-body">
        <actor-directive ng-repeat="actor in actors"  actor="actor"></actor-directive>
    </div>
</div>


